#message-list-item {
  --padding-start: 0;
  --inner-padding-end: 0;
}

#message-list-item ion-label {
  margin-top: 12px;
  margin-bottom: 12px;

  overflow: hidden;
}

#message-list-item ion-label h2 {
  font-weight: 600;
  margin: 0;
  /**
   * With larger font scales
   * the date/time should wrap to the next
   * line. However, there should be
   * space between the name and the date/time
   * if they can appear on the same line.
   */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}